* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
}
:root {
    --gw: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));

}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.row-gap{
    row-gap: 20px;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.review {
    padding: 60px 0;
    background-color: #ffffff;
}

.review-box {
    background-color: rgb(160, 132, 132);
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    max-width: 300px;
    min-height: 350px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.review-box:hover {
    transform: translatey(5px);
}

.review-box  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
p{
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(46, 6, 46);
}
